/* 팝업 페이지 전체 스타일 */
body {
    width: 200px;
    padding: 10px;
    font-family: Arial, sans-serif;
}

/* 제목 스타일 */
h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* 도메인 입력란 스타일 */
#domainInput {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

/* 삭제 버튼 스타일 */
#deleteButton {
    background-color: #0073e6;
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
}

/* 삭제 버튼 호버 스타일 */
#deleteButton:hover {
    background-color: #0055a5;
}
